@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h3 {
  color: #333;
}

form {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

input[type=text], input[type=password] {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type=submit]:hover {
  background-color: #45a049;
}

form button {
  margin-left: 10px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #4CAF50;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }